In [0]:
          #**AWADHESH KUMAR**
         # **DATASCIENCE  ASSIGNMENT**

In [37]:
import pandas as pd
df=pd.read_csv('/content/brand_details (data exel).csv')
df.head()

   Rank      Brand  Brand_Value  ...  Brand_Revenue  Company_Advertising    Industry
0     1      Apple        145.3  ...          182.3                  1.2  Technology
1     2  Microsoft         69.3  ...           93.3                  2.3  Technology
2     3     Google         65.6  ...           61.8                  3.0  Technology
3     4  Coca-Cola         56.0  ...           23.1                  3.5   Beverages
4     5        IBM         49.8  ...           92.8                  1.3  Technology

[5 rows x 7 columns]

In [38]:
print(df.shape)
df.columns

(60, 7)

Index(['Rank', 'Brand', 'Brand_Value', 'Change_LastYr', 'Brand_Revenue',
       'Company_Advertising', 'Industry'],
      dtype='object')

In [39]:
 #1*** *Which industry has the maximum brands whose Brand_Revenue > 80 Million???
df.groupby(['Industry'])['Brand'].count()           # Represent the max num of Brand industries 
df[df['Brand_Revenue']>80]                           #Represent the brands of all industry which revenue is more then 80 million
df[df['Brand_Revenue']>80].groupby(['Industry'])['Brand'].count()  # industry maxiumum brands and revenue>80
"""**So all of the industries ,technology industry has maximum brands**

Industry
Automotive            4
Financial Services    2
Restaurants           1
Retail                2
Technology            6
Telecom               2
Name: Brand, dtype: int64

In [40]:
 #2*** *List the companiesd whose Company_Advertising budget is < 3 but Brand_Value is > 20*
 df[(df['Company_Advertising']<3) & (df['Brand_Value']>20)][['Brand','Brand_Value','Company_Advertising']]   # whose company advertising budget this here

        Brand  Brand_Value  Company_Advertising
0       Apple        145.3                1.200
1   Microsoft         69.3                2.300
4         IBM         49.8                1.300
5   McDonalds         39.5                0.808
8    Facebook         36.5                0.135
9      Disney         34.6                2.800
13      Cisco         27.6                0.196
14     Oracle         26.8                0.079
16      Intel         25.8                1.800
17   Wal-Mart         24.7                2.400
18    Verizon         24.5                2.500
20      Honda         22.6                2.700

In [41]:
 #3***  *Find out the top 5 Technology Brand that showed maximum positive jump in their position(Use Change_LastYr)*
 tech_brand = df[(df['Industry']=="Technology")][['Brand','Industry','Change_LastYr']].sort_values('Change_LastYr') #all Technology Brand the represent maximum positive or negetive jump in their position 
#technology_brand
tech_brand.nlargest(5,['Change_LastYr']) #it shows only top 5

       Brand    Industry  Change_LastYr
8   Facebook  Technology             54
11    Amazon  Technology             32
33      Ebay  Technology             21
50      Sony  Technology             21
0      Apple  Technology             17

In [42]:
#4* *Find out the Average Brand_Revenue by Industry*
rev=df.groupby(['Industry'])['Brand_Revenue'].mean()  # Average Brand_revenue
print(' Average Brand_Revenue by Industry : ''\n ', rev)

 Average Brand_Revenue by Industry :
  Industry
Apparel                     17.700000
Automotive                  97.385714
Beverages                   13.133333
Business Services           32.800000
Consumer Packaged Goods      7.175000
Financial Services          51.622222
Heavy Equipment             36.100000
Leisure                     26.400000
Luxury                       5.900000
Media                        9.200000
Restaurants                 51.900000
Retail                     156.266667
Technology                  80.238462
Telecom                    129.750000
Transportation              47.200000
Name: Brand_Revenue, dtype: float64