In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv("/content/brand_details.csv")

In [137]:
df.columns

Index(['Rank', 'Brand', 'Brand_Value', 'Change_LastYr', 'Brand_Revenue',
       'Company_Advertising', 'Industry'],
      dtype='object')

In [138]:
df.head()

   Rank      Brand  Brand_Value  ...  Brand_Revenue  Company_Advertising    Industry
0     1      Apple        145.3  ...          182.3                  1.2  Technology
1     2  Microsoft         69.3  ...           93.3                  2.3  Technology
2     3     Google         65.6  ...           61.8                  3.0  Technology
3     4  Coca-Cola         56.0  ...           23.1                  3.5   Beverages
4     5        IBM         49.8  ...           92.8                  1.3  Technology

[5 rows x 7 columns]

Problem 1 - Which industry has the maximum brands whose Brand_Revenue > 80 Million (Brand revenue is in millions)

In [144]:
df.groupby(['Industry'])['Brand'].count().max()

13

In [140]:
df.loc[(df.Industry=='Technology')&(df.Brand_Revenue>80)][['Brand','Brand_Revenue','Industry']]

              Brand  Brand_Revenue    Industry
0             Apple          182.3  Technology
1         Microsoft           93.3  Technology
4               IBM           92.8  Technology
6           Samsung          187.8  Technology
11           Amazon           87.5  Technology
25  Hewlett-Packard          111.5  Technology

Problem 2 - List the companiesd whose Company_Advertising budget is < 3 but Brand_Value is > 20

In [141]:
df.loc[(df['Company_Advertising']<3) & (df['Brand_Value']>20)][['Brand','Brand_Value','Company_Advertising']]

        Brand  Brand_Value  Company_Advertising
0       Apple        145.3                1.200
1   Microsoft         69.3                2.300
4         IBM         49.8                1.300
5   McDonalds         39.5                0.808
8    Facebook         36.5                0.135
9      Disney         34.6                2.800
13      Cisco         27.6                0.196
14     Oracle         26.8                0.079
16      Intel         25.8                1.800
17   Wal-Mart         24.7                2.400
18    Verizon         24.5                2.500
20      Honda         22.6                2.700

Problem 3 - Find out the top 5 Technology Brand that showed maximum positive jump in their position (Use Change_LastYr)

In [142]:
J = df[(df['Industry'] == 'Technology')][['Rank','Brand','Change_LastYr','Industry']]
J.nlargest(5,['Change_LastYr'])

    Rank     Brand  Change_LastYr    Industry
8     10  Facebook             54  Technology
11    13    Amazon             32  Technology
33    50      Ebay             21  Technology
50    79      Sony             21  Technology
0      1     Apple             17  Technology

Problem 4 - Find out the Average Brand_Revenue by Industry

In [143]:
df.groupby(['Industry'])['Brand_Revenue'].mean()

Industry
Apparel                     17.700000
Automotive                  97.385714
Beverages                   13.133333
Business Services           32.800000
Consumer Packaged Goods      7.175000
Financial Services          51.622222
Heavy Equipment             36.100000
Leisure                     26.400000
Luxury                       5.900000
Media                        9.200000
Restaurants                 51.900000
Retail                     156.266667
Technology                  80.238462
Telecom                    129.750000
Transportation              47.200000
Name: Brand_Revenue, dtype: float64