In [0]:
#Anshaj Goyal
import pandas as pd
df = pd.read_csv("brandDetails.csv")
df.head()

   Rank      Brand  Brand_Value  ...  Brand_Revenue  Company_Advertising    Industry
0     1      Apple        145.3  ...          182.3                  1.2  Technology
1     2  Microsoft         69.3  ...           93.3                  2.3  Technology
2     3     Google         65.6  ...           61.8                  3.0  Technology
3     4  Coca-Cola         56.0  ...           23.1                  3.5   Beverages
4     5        IBM         49.8  ...           92.8                  1.3  Technology

[5 rows x 7 columns]

**Problem #1**
 *Which industry has the maximum brands whose Brand_Revenue > 80 Million*

In [0]:
#Getting full sorted list of Industry with number of brands they hold with revenue>80 Million
print(df.loc[(df['Brand_Revenue'] > 80)].groupby(['Industry'])['Brand'].count().sort_values(ascending=False)
df.loc[(df['Brand_Revenue'] > 80)].groupby(['Industry'])['Brand'].count().max()

Industry
Technology            6
Automotive            4
Telecom               2
Retail                2
Financial Services    2
Restaurants           1
Name: Brand, dtype: int64

6

In [0]:
#Getting single row of Industry with maximum brands with revenues > 80 million
df[df['Brand_Revenue']>80].groupby(['Industry'],as_index=False)['Brand'].count().max()

Industry    Telecom
Brand             6
dtype: object

**Probelem #2**
*List the companiesd whose Company_Advertising budget is < 3 but Brand_Value is > 20*

In [0]:
df.loc[(df['Company_Advertising']<3) & (df['Brand_Value']>20)]

    Rank      Brand  ...  Company_Advertising     Industry
0      1      Apple  ...                1.200   Technology
1      2  Microsoft  ...                2.300   Technology
4      5        IBM  ...                1.300   Technology
5      6  McDonalds  ...                0.808  Restaurants
8     10   Facebook  ...                0.135   Technology
9     11     Disney  ...                2.800      Leisure
13    15      Cisco  ...                0.196   Technology
14    17     Oracle  ...                0.079   Technology
16    19      Intel  ...                1.800   Technology
17    20   Wal-Mart  ...                2.400       Retail
18    21    Verizon  ...                2.500      Telecom
20    23      Honda  ...                2.700   Automotive

[12 rows x 7 columns]

**Problem 3**
*Find out the top 5 Technology Brand that showed maximum positive jump in their position (Use Change_LastYr)*

In [0]:
a = df.loc[(df['Industry']=="Technology")]
# a.sort_values('Change_LastYr',ascending=False)
a.nlargest(5,['Change_LastYr'])

    Rank     Brand  Brand_Value  ...  Brand_Revenue  Company_Advertising    Industry
8     10  Facebook         36.5  ...           12.1                0.135  Technology
11    13    Amazon         28.1  ...           87.5                3.300  Technology
33    50      Ebay         11.0  ...            7.6                1.300  Technology
50    79      Sony          6.9  ...           63.6                3.200  Technology
0      1     Apple        145.3  ...          182.3                1.200  Technology

[5 rows x 7 columns]

**Problem 4**
*Find out the Average Brand_Revenue by Industry*

In [0]:
df.groupby(['Industry'])['Brand_Revenue'].mean()

Industry
Apparel                     17.700000
Automotive                  97.385714
Beverages                   13.133333
Business Services           32.800000
Consumer Packaged Goods      7.175000
Financial Services          51.622222
Heavy Equipment             36.100000
Leisure                     26.400000
Luxury                       5.900000
Media                        9.200000
Restaurants                 51.900000
Retail                     156.266667
Technology                  80.238462
Telecom                    129.750000
Transportation              47.200000
Name: Brand_Revenue, dtype: float64