In [86]:
import pandas as pd
import numpy as np
df_brand_details=pd.read_csv("/content/brand_details.csv")
df_brand_details.columns

Index(['Rank', 'Brand', 'Brand_Value', 'Change_LastYr', 'Brand_Revenue',
       'Company_Advertising', 'Industry'],
      dtype='object')

In [87]:
df_brand_details.head()

   Rank      Brand  Brand_Value  ...  Brand_Revenue  Company_Advertising    Industry
0     1      Apple        145.3  ...          182.3                  1.2  Technology
1     2  Microsoft         69.3  ...           93.3                  2.3  Technology
2     3     Google         65.6  ...           61.8                  3.0  Technology
3     4  Coca-Cola         56.0  ...           23.1                  3.5   Beverages
4     5        IBM         49.8  ...           92.8                  1.3  Technology

[5 rows x 7 columns]

In [88]:
df_brand_details.tail()

    Rank         Brand  ...  Company_Advertising                 Industry
55    94       Hershey  ...                0.570  Consumer Packaged Goods
56    97    KIA Motors  ...                0.992               Automotive
57    98        Sprite  ...                3.500                Beverages
58    99           MTV  ...                1.000                    Media
59   100  Estee Lauder  ...                2.800  Consumer Packaged Goods

[5 rows x 7 columns]

**Problem 1 : Which industry has the maximum brands whose Brand_Revnue >80 million (Brand _Revenue is inn million)**

In [99]:
df_brand_details.loc[(df_brand_details.groupby(["Industry"])["Brand"].count().max())][["Industry"]]

Industry    Technology
Name: 13, dtype: object

In [97]:
df_brand_details.loc[(df_brand_details.Industry=="Technology")&(df_brand_details.Brand_Revenue>80)][["Industry","Brand","Brand_Revenue"]]

      Industry            Brand  Brand_Revenue
0   Technology            Apple          182.3
1   Technology        Microsoft           93.3
4   Technology              IBM           92.8
6   Technology          Samsung          187.8
11  Technology           Amazon           87.5
25  Technology  Hewlett-Packard          111.5

problem 2: List the companised whose company_Advertsing budget is < 3 but  Brand_value is >20.

In [89]:
df_brand_details.loc[(df_brand_details["Company_Advertising"]<3) & (df_brand_details["Brand_Value"]>20)][["Brand","Brand_Value","Company_Advertising"]]

        Brand  Brand_Value  Company_Advertising
0       Apple        145.3                1.200
1   Microsoft         69.3                2.300
4         IBM         49.8                1.300
5   McDonalds         39.5                0.808
8    Facebook         36.5                0.135
9      Disney         34.6                2.800
13      Cisco         27.6                0.196
14     Oracle         26.8                0.079
16      Intel         25.8                1.800
17   Wal-Mart         24.7                2.400
18    Verizon         24.5                2.500
20      Honda         22.6                2.700

problem 3 : Find out top 5 technology Brand that showed maximum postive jump in thier postion(use change_LastYr).

In [90]:
data=df_brand_details[(dataset['Industry']== 'Technology')]
data.nlargest(5,['Change_LastYr'])[["Industry","Change_LastYr"]]

      Industry  Change_LastYr
8   Technology             54
11  Technology             32
33  Technology             21
50  Technology             21
0   Technology             17

problem 4 : Find out the average Brand_revenue by Industry.

In [92]:
df_brand_details.groupby(["Industry"])['Brand_Revenue'].mean()

Industry
Apparel                     17.700000
Automotive                  97.385714
Beverages                   13.133333
Business Services           32.800000
Consumer Packaged Goods      7.175000
Financial Services          51.622222
Heavy Equipment             36.100000
Leisure                     26.400000
Luxury                       5.900000
Media                        9.200000
Restaurants                 51.900000
Retail                     156.266667
Technology                  80.238462
Telecom                    129.750000
Transportation              47.200000
Name: Brand_Revenue, dtype: float64