**AYUSH** 

Problem 1 - Which industry has the maximum brands whose Brand_Revenue > 80 Million (Brand revenue is in millions)

Problem 2 - List the companiesd whose Company_Advertising budget is < 3 but Brand_Value is > 20

Problem 3 - Find out the top 5 Technology Brand that showed maximum positive jump in their position (Use Change_LastYr)

Problem 4 - Find out the Average Brand_Revenue by Industry

In [0]:
import pandas as pd

In [105]:
details=pd.read_csv('brand_details.csv',sep='\t')
print("Size : ",details.shape)

Size :  (60, 7)

In [106]:
details.columns

Index(['Rank', 'Brand', 'Brand_Value', 'Change_LastYr', 'Brand_Revenue',
       'Company_Advertising', 'Industry'],
      dtype='object')

In [107]:
details.head()

   Rank      Brand  Brand_Value  ...  Brand_Revenue  Company_Advertising    Industry
0     1      Apple        145.3  ...          182.3                  1.2  Technology
1     2  Microsoft         69.3  ...           93.3                  2.3  Technology
2     3     Google         65.6  ...           61.8                  3.0  Technology
3     4  Coca-Cola         56.0  ...           23.1                  3.5   Beverages
4     5        IBM         49.8  ...           92.8                  1.3  Technology

[5 rows x 7 columns]

**Problem 1** 
Which industry has the maximum brands whose Brand_Revenue > 80 Million (Brand revenue is in millions)

In [108]:
max_brand=details[details['Brand_Revenue']>80].groupby(['Industry'],as_index=False)['Brand'].count()
max_brand[max_brand['Brand']== max_brand['Brand'].max()]

     Industry  Brand
4  Technology      6

**Problem 2** - List the companies whose Company_Advertising budget is < 3 but Brand_Value is > 20

In [115]:
comp=details.loc[(details['Company_Advertising']<3) & (details['Brand_Value']>20)]
print(comp) # prints all the details 
comp['Brand'] # just prints the companies

0         Apple
1     Microsoft
4           IBM
5     McDonalds
8      Facebook
9        Disney
13        Cisco
14       Oracle
16        Intel
17     Wal-Mart
18      Verizon
20        Honda
Name: Brand, dtype: object

**Problem 3**  Find out the top 5 Technology Brand that showed maximum positive jump in their position (Use Change_LastYr)

In [110]:
max_5=details[details['Industry']=="Technology"].nlargest(5,['Change_LastYr'])
max_5

    Rank     Brand  Brand_Value  ...  Brand_Revenue  Company_Advertising    Industry
8     10  Facebook         36.5  ...           12.1                0.135  Technology
11    13    Amazon         28.1  ...           87.5                3.300  Technology
33    50      Ebay         11.0  ...            7.6                1.300  Technology
50    79      Sony          6.9  ...           63.6                3.200  Technology
0      1     Apple        145.3  ...          182.3                1.200  Technology

[5 rows x 7 columns]

**Problem 4** Find out the Average Brand_Revenue by Industry

In [111]:
avg_brand_revenue=details.groupby('Industry',as_index=False)['Brand_Revenue'].mean()
print(avg_brand_revenue)

                   Industry  Brand_Revenue
0                   Apparel      17.700000
1                Automotive      97.385714
2                 Beverages      13.133333
3         Business Services      32.800000
4   Consumer Packaged Goods       7.175000
5        Financial Services      51.622222
6           Heavy Equipment      36.100000
7                   Leisure      26.400000
8                    Luxury       5.900000
9                     Media       9.200000
10              Restaurants      51.900000
11                   Retail     156.266667
12               Technology      80.238462
13                  Telecom     129.750000
14           Transportation      47.200000