**IQRA SAIFI**

**Assignment 1**

In [1]:
import pandas as pd
df_brand=pd.read_csv("/content/brand_details.csv",sep='\t')
df_brand
df_brand.head()

   Rank      Brand  Brand_Value  ...  Brand_Revenue  Company_Advertising    Industry
0     1      Apple        145.3  ...          182.3                  1.2  Technology
1     2  Microsoft         69.3  ...           93.3                  2.3  Technology
2     3     Google         65.6  ...           61.8                  3.0  Technology
3     4  Coca-Cola         56.0  ...           23.1                  3.5   Beverages
4     5        IBM         49.8  ...           92.8                  1.3  Technology

[5 rows x 7 columns]

**Problem 1 - Which industry has the maximum brands whose Brand_Revenue > 80 Million (Brand revenue is in millions)**

In [29]:
req_ind=df_brand.loc[(df_brand['Brand_Revenue'] > 80)].groupby(['Industry'])['Brand'].count().max()
req_ind
df_brand.loc[req_ind][['Industry']]

Industry    Technology
Name: 6, dtype: object

**Problem 2 - List the companies whose Company_Advertising budget is < 3 but Brand_Value is > 20**

In [0]:
df_brand[(df_brand.Brand_Value>20) & (df_brand.Company_Advertising<3)][['Brand','Company_Advertising','Brand_Value']]

        Brand  Company_Advertising  Brand_Value
0       Apple                1.200        145.3
1   Microsoft                2.300         69.3
4         IBM                1.300         49.8
5   McDonalds                0.808         39.5
8    Facebook                0.135         36.5
9      Disney                2.800         34.6
13      Cisco                0.196         27.6
14     Oracle                0.079         26.8
16      Intel                1.800         25.8
17   Wal-Mart                2.400         24.7
18    Verizon                2.500         24.5
20      Honda                2.700         22.6

**Problem 3 - Find out the top 5 Technology Brand that showed maximum positive jump in their position (Use Change_LastYr)**

In [37]:
df=df_brand.sort_values(['Change_LastYr'], ascending=False)
a=df.loc[(df.Industry=='Technology')]
req_brand=a.head(5)
req_brand

    Rank     Brand  Brand_Value  ...  Brand_Revenue  Company_Advertising    Industry
8     10  Facebook         36.5  ...           12.1                0.135  Technology
11    13    Amazon         28.1  ...           87.5                3.300  Technology
33    50      Ebay         11.0  ...            7.6                1.300  Technology
50    79      Sony          6.9  ...           63.6                3.200  Technology
0      1     Apple        145.3  ...          182.3                1.200  Technology

[5 rows x 7 columns]

**Problem 4 - Find out the Average Brand_Revenue by Industry**

In [0]:
df_brand.groupby(['Industry'])['Brand_Revenue'].mean()

Industry
Apparel                     17.700000
Automotive                  97.385714
Beverages                   13.133333
Business Services           32.800000
Consumer Packaged Goods      7.175000
Financial Services          51.622222
Heavy Equipment             36.100000
Leisure                     26.400000
Luxury                       5.900000
Media                        9.200000
Restaurants                 51.900000
Retail                     156.266667
Technology                  80.238462
Telecom                    129.750000
Transportation              47.200000
Name: Brand_Revenue, dtype: float64